innerpeace/node_modules/

Terraform/terraform/

Terraform/modules/terraform/

Terraform/terraform.tfstate.backup

Terraform/terraform.tfstate

Terraform/terraform.lock.hcl

Terraform/modules/terraform.lock.hcl

.terraform/

*.tfstate

*.tfstate.*

*.terraform.lock.hcl

*.DS_Store.*